[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-core = "*"
langchain-openai = "*"
langchain-anthropic = "*"
openai = "*"
python-dotenv = "*"
flask = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.12"
